/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textatea,p,blockquote,th,td{margin:0; padding:0;}
body{font-size:12px; font-family:"微软雅黑","宋体"; background:#ffffff;}
table{border-collapse:collapse; border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{ font-style:normal; font-weight:normal;}
ol,ul,li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{ font-size:100%; font-weight:normal;}
addr,acronym{border:0;}
a{color:#4a6785;}
a:hover{color:#4a6785;}
a:active,a:link,a:visited{text-decoration:none; color:#4a6785;}
.fl{float:left;}
.fr{float:right;}

.mr10{margin-right:10px;}