.form {
	position: relative;
	width: 305px;
	margin: 15px auto 0 auto;
	text-align: center;

}

input {
	margin-top: 15px;
	background: rgba(45,45,45,.15);
	border-radius: 4px;
	min-height: 36px;
}

h3{
	font-size: 25px;
	background-color: #0D0D0D;
	padding: 5px;
	color: white;
}

.s_btn {
	width: 100px;
	height: 34px;
	color: #fff;
	letter-spacing: 1px;
	background: #3385ff;
	border-bottom: 1px solid #2d78f4;
	outline: medium;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	border-radius: 6px;
}

/*下面这三个是改变input中站位符的字体颜色*/
input:-moz-placeholder,
textarea:-moz-placeholder {
	color: #6E6E6E;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #6E6E6E;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #6E6E6E;
}



button{
	margin-top: 15px;
	cursor: pointer;
	font-size: 14px;
	font-weight: 700;
	border-radius: 6px;
}


.error {
	display: none;
	position: absolute;
	top: 83px;
	right: 25px;
	width: 35px;
	height: 35px;
	background: #2d2d2d; /* browsers that don't support rgba */
	background: rgba(5,5,5,.25);
	/*这三个属性都是圆角 适配不通浏览器*/
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

.error span {
	display: inline-block;
	margin-left: 5px;
	margin-top: -6px;
	font-size: 40px;
	font-weight: 700;
	line-height: 40px;
	text-shadow: 0 1px 2px rgba(0,0,0,.1);
	-o-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);

}



.tip {
	display: none;
	position: absolute;
	top: -5px;
	left: 93px;
	width: 120px;
	height: 15px;
	background: #2d2d2d; /* browsers that don't support rgba */
	background: rgba(45,45,45,.25);
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;

	font-weight: 700;
}

.tip2 {
	display: none;
	position: absolute;
	top: -5px;
	left: 93px;
	width: 120px;
	height: 15px;
	background: #2d2d2d; /* browsers that don't support rgba */
	background: rgba(45,45,45,.25);
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	font-weight: 700;

}

