<!DOCTYPE html>
<html lang="en">
<head>
    <title>index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <script type="text/javascript" src="/static/js/index.js" ></script>
    <script type="text/javascript" src="/static/js/jquery-2.1.4.min.js"></script>
</head>
<body>
    Sorry!
    <H1>网站还在建设中 很抱歉</H1>
    <h4></h4>

    <h2>过去的故事 都在<a href="/welcome">这里了</a></h2>
</body>
</html>