<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>index</title>
    <link rel="stylesheet" href="/static/css/index.css" />
    <script type="text/javascript" src="/static/js/index.js" ></script>
    <script type="text/javascript" src="/static/js/three.js"></script>
    <script type="text/javascript" src="/static/js/jquery-2.1.4.min.js"></script>
</head>
<body onload="init()">
    Sorry!
    <H1>网站还在建设中 很抱歉</H1>
    <h4></h4>
    <a href="/title">请点击此链接查看更多内容</a>
    <div id="topColumn"><canvas id="mainCanvas" width="400px" height="300px" ></canvas></div>

    <h2>或者 你可以<a href="/welcome">看点别的</a></h2>
</body>
</html>