<!DOCTYPE html>
<html lang="en">
<head>
    <title>你想知道的我这都没有</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <script type="text/javascript" src="/static/js/index.js" ></script>
    <script type="text/javascript" src="/static/js/jquery-2.1.4.min.js"></script>
</head>
<body>
    <H1>欢迎来到鄙人的个人小站</H1>
    <h3>画面有点丑 尽请谅解 谢谢</h3>
    <h4></h4>
    <h4>目前只有一个栏目 之后会有什么功能 还不一定 </h4>
    <h5>诸位朋友如果有什么想法 也可以提出来 直接在公众号留言就好</h5>
    <h1>感谢支持</h1>
    <h4></h4>
    <h2>过去的故事 都在<a href="/welcome">这里了</a></h2>
</body>
</html>