<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <script>



    </script>
</head>
<body>
    <div>
            <table>
                <tr>
                    <td>标题</td>

                </tr>
                <tr th:each = "titles:${titleList}">
                    <td><a th:text="${titles.title}" href="/content" th:href="@{content(textId=${titles.id})}"/></td>
                </tr>

            </table>




    </div>

</body>
</html>